@page "/"

<PageTitle>Inicio</PageTitle>

<br>
<h1 style="text-align: center;">Consultorio medico del doctor Pepe </h1>
<br>
<div>
    <RadzenRow class="rz-text-align-center" Gap="1rem">
        <RadzenColumn Size="12" SizeXS="12" SizeSM="12" SizeMD="6" SizeLG="6" SizeXL="6" SizeXX="6" class="rz-p-5" style="display: flex; flex-wrap: wrap; justify-content: center; align-items: center;">
            <!-- Imagen -->
            <img src="images/hush-naidoo-jade-photography-yo01Z-9HQAw-unsplash.jpg" style="width: 100%; height: auto; max-width: 750px;" alt="instrumentomedico">
        </RadzenColumn>

        <RadzenColumn Size="12" SizeXS="12" SizeSM="12" SizeMD="6" SizeLG="6" SizeXL="6" SizeXX="6" class="rz-p-5" style="display: flex; justify-content: center; align-items: center;">
            <!-- Párrafo -->
            <h2><b>Somos un consultorio médico especializado en curar personas que se encuentran enfermas y débiles. Llamanos y te curamos.</b></h2>
        </RadzenColumn>
    </RadzenRow>
</div>
