@inherits LayoutComponentBase
<RadzenComponents />

<NavMenu />

<main class="container">
    @Body
</main>


<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>ACERCA</h6>
                <p class="text-justify"> Reserva tu turno online </p>
            </div>
            <div class="col-xs-6 col-md-3">
                <h6>Coberturas</h6>
                <ul class="footer-links">
                    <li>OSDE</li>
                    <li>IOMA</li>
                    <li>Swiss Medical</li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3">
                <h6>Saber más</h6>
                <ul class="footer-links">
                    <li><a href="">Sobre nosotros</a></li>
                    <li><a href="/contacto/">Contáctanos</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                    No hacemos recetas por telefono.
                </p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

