<nav class="nav">
    <div class="container">
        <div class="logo">
            <a href="/  ">MedicShifts</a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <AuthorizeView>
                    <Authorized>
                        <li><a href="Identity/Account/Manage">Hola, @context.User.Identity?.Name</a></li>
                        
                        <form method="post" action="Identity/Account/LogOut">
                         <br />
                        <li><button type="submit" style="margin-top: -75px;" class="nav-link btn btn-link"><a>Cerrar sesion</a></button></li>
                        </form>
                    </Authorized>
                    <NotAuthorized>
                        <li><a href="/reservarturno">Reservar turno</a></li>
                        <li><a href="Identity/Account/Register">Registrarse</a></li>
                        <li><a href="Identity/Account/Login">Iniciar sesion</a></li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
        <span class="navTrigger">
            <i></i>
            <i></i>
            <i></i>
        </span>
    </div>
</nav>

<!-- no borrar esta seccion, la uso para el fondo de la navbar-->
<section class="fondoNavBar">
</section>

<!-- Animacion negra-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/scripts.js"></script>
<script>
    $(window).scroll(function() {
        if ($(document).scrollTop() > 50) {
            $('.nav').addClass('affix');
            console.log("OK");
        } else {
            $('.nav').removeClass('affix');
        }
    });
</script>

<!-- Funcion para abrir y cerrar el menu chiquito-->
<script>
        $('.navTrigger').click(function () {
        $(this).toggleClass('active');
        console.log("Clicked menu");
        $("#mainListDiv").toggleClass("show_list");
        $("#mainListDiv").fadeIn();

    });
</script>
