<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand fs-4"  href="#">MedicShifts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <AuthorizeView>
                <Authorized>
                    <li class="nav-item" data-toggle="collapse" data-target="#navbarNav"><a class="nav-link text-white fs-4" href="Identity/Account/Manage">Hola, @context.User.Identity?.Name</a></li>

                    <li class="nav-item active" data-toggle="collapse" data-target="#navbarNav"><a class="nav-link fs-4" href="/editarmedico">Médicos</a></li>

                    <li class="nav-item active" data-toggle="collapse" data-target="#navbarNav"><a class="nav-link fs-4" href="/listarturnos">Turnos</a></li>
                    <li class="nav-item active" data-toggle="collapse" data-target="#navbarNav"><a class="nav-link fs-4" href="/reservarturno">Reservar turno</a></li>
                    <li class="nav-item">
                    <form method="post" action="Identity/Account/LogOut">

                            <button class="btn btn-sm  fs-4" type="submit"><a class="badge badge-light">Cerrar sesión</a></button>
                    </form>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li class="nav-item active" data-toggle="collapse" data-target="#navbarNav"><a class="nav-link fs-4" href="Identity/Account/Register">Registrarse</a></li>
                    <li class="nav-item active" data-toggle="collapse" data-target="#navbarNav"><a class="nav-link fs-4" href="Identity/Account/Login">Iniciar sesión</a></li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
</nav>