/* _content/TurnosMedicos/Shared/MainLayout.razor.rz.scp.css */
.page[b-km5eiomjsn] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-km5eiomjsn] {
    flex: 1;
}

.sidebar[b-km5eiomjsn] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-km5eiomjsn] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-km5eiomjsn]  a, .top-row .btn-link[b-km5eiomjsn] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-km5eiomjsn] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-km5eiomjsn] {
        display: none;
    }

    .top-row.auth[b-km5eiomjsn] {
        justify-content: space-between;
    }

    .top-row a[b-km5eiomjsn], .top-row .btn-link[b-km5eiomjsn] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-km5eiomjsn] {
        flex-direction: row;
    }

    .sidebar[b-km5eiomjsn] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-km5eiomjsn] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-km5eiomjsn], article[b-km5eiomjsn] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/TurnosMedicos/Shared/NavMenu.razor.rz.scp.css */
html[b-76w9ubmxfj],
body[b-76w9ubmxfj] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
}

#navbarMedicos a:hover[b-76w9ubmxfj] {
    background-color:dodgerblue;
    color: white !important;
  
}

